# Script Stable - used for selfchecking the mining machine

# User, who is default logged for mining
user=miner

# File in which the counter will be tracked
counter_file="restart_counter.txt"

# Stable log file
log_file="log_stable.txt"

# Counter when the restart will give up
counter_trsh=3

# Curl timeout
curl_timeout=15

# res_criteria: only if: 'card_down|full_down|disable'. Default: disable
res_criteria="disable"
